extends layout

block content 
  h1= title
  .centered
    a(href="/film/create")
      button Add Film
  .listContainer
    if allFilms.length 
      each film in allFilms
        .card 
          a(href=film.url)
            button
              img.thumbnail(src=film.imageUrl ? film.imageUrl : 'images/placeholderPoster.svg', alt='')
              p #{film.title} (#{film.release.getFullYear()}) 
              p $#{film.price.toFixed(2)}
    else 
      h2 There are no films.