extends layout

block content 
  h1= title
  block delete
  .detailPage
    img.hero(src=film.imageUrl ? `../${film.imageUrl}` : '../images/placeholderPoster.svg', alt='')
    section
      p.price $#{film.price.toFixed(2)} 
        span.stock (#{film.stock} in stock)
      dl 
        dt Release Date 
        dd= releaseDate
        if film.countries.length > 0
          dt Countries 
          each country in film.countries 
            dd= country 
        else
          p This film has no associated countries
        if film.genres.length > 0
          dt Genres 
          each genre in film.genres 
            dd
              a(href=genre.url)= genre.name
        else 
          p This film has no associated genres
  .centered
    a(href=`${film.url}/update`)
      button Update Film 
    a(href=`${film.url}/delete`) 
      button Delete Film 