extends layout

block content 
  h1= title
  block delete 
  section
    p= genre.description
    h3 #{genre.name} Films
    if filmsInGenre
      ul 
        each film in filmsInGenre 
          li 
            a(href=film.url)= `${film.title} (${film.release.getFullYear()})` 
  .centered
    a(href=`${genre.url}/update`)
      button Update Genre
    a(href=`${genre.url}/delete`)
      button Delete Genre