extends layout

block content
  h1 Welcome to #{title}
  .centered
    section
      p We have:
        ul
          li <strong>#{filmCount}</strong> total films for sale
          li In <strong>#{genreCount}</strong> different genres
          li From <strong>#{countryCount}</strong> unique countries
          li Current total stock: <strong>#{stockCount}</strong> copies
